h2,p
{
    text-align: center;
}
#startButton, #answer1, #answer2 ,#answer3 ,#answer4 ,#initials ,#goBack, #clearHighScore{
    background-color: purple; 
    color: white;
    padding: 15px 22px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
  }

